/* Estilos específicos del footer */
footer {
    background-color: #006400;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}
